:root { 
  --lg-red: #e60044; 
  --lg-dark: #05090f; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: white;
  color: #05090f;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

.shadow-premium { 
  box-shadow: 0 40px 100px rgba(0,0,0,0.06); 
}

.shadow-red-glow {
  box-shadow: 0 20px 50px rgba(230,0,68,0.15);
}